:root {
  --shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  --lblue: #8da2c4;
  --blue: rgb(124, 152, 192);
  --dblue: #606e85;
  --pink: #bc85a5;
  --purple: #8b789b;
  --green: rgb(96, 137, 168);
}
body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(73, 80, 87);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto Slab", serif;
  line-height: 1;
  margin: 0;
}
h1 {
  font-size: 3.5rem;
  font-weight: 600;
}
h2 {
  font-size: 3rem;
  font-weight: 500;
  color: var(--purple);
}
h5 {
  font-size: 1.25rem;
  font-weight: 500;
}
a {
  color: var(--purple);
}
a:visited,
a:clicked,
a:active,
a:focus {
  background-color: transparent;
}
p {
  max-width: 75ch;
  margin: 0 auto;
  line-height: 2rem;
}
img {
  display: block;
}
button {
  padding: 0.5rem 1rem;
  font-weight: 500;
  background-color: var(--purple);
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
button a {
  color: white;
}
button:hover {
  background-color: var(--pink);
}
button:active {
  background-color: var(--pink);
}
.container {
  width: 94%;
  max-width: 1200px;
  margin: 0 auto;
}
hr {
  width: 38px;
  height: 3px;
  margin: 4px 0 8px;
  background-color: var(--purple);
  border-radius: 3px;
}

/* Topbar */
.topbar,
.botbar {
  background-color: var(--lblue);
  color: white;
  width: 100%;
  height: 28px;
  font-size: 14px;
}
.topbar a {
  color: white;
}
.topbar-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  column-gap: 1.25rem;
  height: 100%;
}
.topbar-item {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}
.topbar-item img {
  display: block;
}
.topbar-text {
  display: none;
}

/* Header */
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 67px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.navbar-brand {
  width: 116px;
}
/* Navbar */
.nav {
  background-color: white;
}
.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 5px 0;
}

/* navbarMobile */
#navbar-mobile {
  display: none;
  position: absolute;
  width: 96%;
  margin: 0 auto;
  top: 99%;
  left: 0;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  background-color: white;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 10px 20px 8px;
}
#navbar-mobile.active {
  display: block;
}
#navbar-mobile li {
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
#navbar-mobile > li:nth-child(5) {
  border-bottom: none;
}
#navbar-mobile a {
  display: block;
  font-weight: 600;
}
.ponuda-mobile {
  cursor: pointer;
  color: var(--purple);
  font-weight: 600;
}
#ponuda-mobile {
  display: none;
}
#ponuda-mobile.active {
  display: block;
  padding-top: 0.25rem;
  transition: all 0.5s ease-in-out;
}
#ponuda-mobile li {
  border-bottom: none;
  font-size: 15px;
  padding: 5px 0;
}

.ponuda-span-link {
  cursor: pointer;
}
.ponuda-span {
  float: right;
  color: var(--purple);
  vertical-align: middle;
}
/* navbarDesktop */
#navbar-desktop {
  display: none;
}
.ponuda-desktop {
  display: none;
  background-color: white;
}
.ponuda-desktop hr {
  height: 2px;
  border-radius: 3px;
  margin-left: 6px;
  background-color: var(--pink);
}
.ponuda-dropmenu:hover .ponuda-desktop,
.ponuda-dropmenu:focus .ponuda-desktop {
  display: flex;
  gap: 3rem;
  position: absolute;
  top: 78%;
  right: 0;
  padding: 2rem;
  border-radius: 3px;
}
.neurologija-desktop a,
.kardiologija-desktop a,
.radiologija-desktop a,
.potrosni-desktop a {
  font-weight: 500;
}
.neurologija-desktop a:hover,
.kardiologija-desktop a:hover,
.radiologija-desktop a:hover,
.potrosni-desktop a:hover {
  color: var(--pink);
  transition: all 0.3s ease-in-out;
}
/* Toggler */
.toggle {
  cursor: pointer;
  padding: 3px;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  border-radius: 2px;
  background-color: var(--purple);
  -webkit-transition: al 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.bar.activated:nth-child(2) {
  opacity: 0;
}
.bar.activated:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.bar.activated:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
/* Toggler End */

/* Main & Aside */
.main,
.sertifikat,
.ponuda {
  padding: 3rem 0;
  text-align: center;
}
.sertifikat {
  background-color: #efefef;
}
/* Main & Aside End */

/* Footer */
.footer {
  color: white;
  background-color: var(--dblue);
  padding: 3rem 0;
  font-weight: 400;
  text-align: left;
}
.footer img {
  display: inline-block;
}
.footer a {
  color: #f8f9fa;
}
.footer-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 15px;
}
.footer-content div {
  padding: 16px 0;
}

/* botbar */
.botbar {
  display: flex;
  align-items: center;
}

/* Media Queries */
@media screen and (min-width: 576px) {
  .footer-info {
    margin-right: auto;
  }
  .botbar p {
    max-width: 1000ch;
  }
}
@media screen and (min-width: 643px) {
  h1 {
    font-size: 4rem;
  }
  .topbar-text {
    display: block;
  }
  .footer-content {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
  .container {
    width: 90%;
  }
  #navbar-desktop {
    display: flex;
    column-gap: 0.5rem;
  }
  #navbar-desktop li {
    font-weight: 600;
  }
  #navbar-desktop a {
    padding: 3px 6px;
    font-size: 17px;
  }
  .link-decor {
    display: inline-block;
    text-decoration: none;
  }
  .link-decor::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    margin-top: 1px;
    border-radius: 3px;
    background: var(--pink);
    transition: width 0.3s;
  }
  .link-decor:hover::after {
    width: 60%;
    /* transition: width .3s; */
  }
  .navbar-desktop ul {
    display: flex;
    justify-content: space-between;
    column-gap: 0.25rem;
    margin-top: 5px;
  }
  .navbar-desktop ul li a {
    text-transform: uppercase;
    display: block;
    padding: 6px 12px;
  }
  .navbar-desktop ul li:nth-child(5) a {
    padding-right: 0;
  }
  .toggle {
    display: none;
  }
  .footer-content {
    column-gap: 80px;
  }
}
@media screen and (min-width: 900px) {
  .container {
    width: 86%;
  }
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 19px;
  }
  .brand img {
    width: 150px;
  }
}
