:root {
  --shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  --lblue: #8da2c4;
  --blue: rgb(124, 152, 192);
  --dblue: #606e85;
  --pink: #bc85a5;
  --purple: #8b789b;
  --green: rgb(96, 137, 168);
}

body {
  font-family: "Jost", sans-serif;
  /* font-family: "Mulish", sans-serif; */
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(73, 80, 87);
  /* background-color: #f0fcff; */
}

h5 {
  font-size: 16px;
}
a {
  color: var(--purple);
}
.container {
  width: 94%;
  max-width: 1200px;
  margin: 0 auto;
}
hr {
  width: 38px;
  height: 3px;
  margin: 4px 0 8px;
  background-color: var(--purple);
}

/* Topbar */
.topbar,
.botbar {
  background-color: var(--lblue);
  color: white;
  width: 100%;
  height: 28px;
}
.botbar {
  display: flex;
  align-items: center;
}
.topbar a {
  color: white;
}
.topbar-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  column-gap: 1.25rem;
  height: 100%;
}
.topbar-item {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}
.topbar-item img {
  display: block;
}
.topbar-text {
  display: none;
}

/* Header */
.header {
  box-shadow: var(--shadow);
}
.header-content {
  padding: 5px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.brand img {
  display: block;
  width: 116px;
}
/* Navbar */
.nav a {
  display: inline-block;
  color: var(--purple);
  text-decoration: none;
}
.nav a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--pink);
  transition: width 0.3s;
}
.nav a:hover::after {
  width: 50%;
}
.navbar {
}
.navbar-mobile {
  display: none;
  position: absolute;
  top: 99%;
  left: 0;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  background-color: white;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.navbar-mobile.active {
  display: block;
}
.navbar-mobile-link {
  margin-bottom: 2px;
}
/* .navbar-mobile ul li:nth-child(5) {

} */
.navbar-mobile-link a {
  display: block;
  width: 100%;
  padding: 5px 10px;
  /* text-align: center; */
}
.navbar-mobile-link > div {
  display: flex;
  justify-content: space-between;
}
#ponuda span {
  float: right;
}
#ponuda-list {
  display: none;
}
#ponuda-list.active {
  display: block;
}
#ponuda-list li a {
  font-size: 14px;
  box-shadow: none;
}
.navbar-desktop {
  display: none;
}
.toggle {
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  border-radius: 2px;
  background-color: var(--purple);
  -webkit-transition: al 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.bar.activated:nth-child(2) {
  opacity: 0;
}
.bar.activated:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.bar.activated:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Footer */
.footer {
  color: white;
  background-color: var(--dblue);
  padding: 64px 0;
  font-weight: 300;
}
.footer img {
  display: inline-block;
}
.footer a {
  color: #f8f9fa;
}
.footer-content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 80px;
}
.footer-content div {
  padding: 16px 0;
}

@media screen and (min-width: 643px) {
  .topbar-text {
    display: block;
  }
  .footer-kontakt {
    margin-left: auto;
  }
}
@media screen and (min-width: 800px) {
  .navbar-mobile {
    display: none;
  }
  .navbar-desktop {
    display: block;
  }
  .navbar-desktop ul {
    display: flex;
    justify-content: space-between;
    column-gap: 0.25rem;
  }
  .navbar-desktop ul li a {
    font-weight: 500;
    display: block;
    padding: 6px 12px;
  }
  .navbar-desktop ul li:nth-child(5) a {
    padding-right: 0;
  }
  .toggle {
    display: none;
  }
  .footer-content {
    column-gap: 120px;
  }
}
@media screen and (min-width: 900px) {
  .container {
    width: 86%;
  }
}
@media screen and (min-width: 1024px) {
  .brand img {
    width: 150px;
  }
}
/* TEMP */
.intro {
  height: 50vh;
}
