h2 {
  margin-bottom: 1rem;
}
/* Intro */
.intro {
  width: 100%;
  height: calc(100vh - 95px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background: radial-gradient(
      circle,
      rgba(9, 105, 153, 0.5) 0%,
      rgba(141, 162, 196, 0.5) 50%,
      /* rgba(58, 58, 58, 0.25) 0%,
        rgba(58, 58, 58, 0.1) 50%, */
        rgba(110, 134, 172, 0.877) 100%
    ),
    url("../img/intro/main.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.intro h1 {
  text-shadow: 1px 1px 2px black;
  line-height: 1.25;
}
/* Intro End */

/* Main */
.main-content {
}
.main-content hr,
.ponuda-content hr {
  margin: 0 auto;
}
.main-content p {
  padding: 2rem 0;
}
.main-content p:nth-child(3) {
  padding: 0 0 2rem;
}
/* Main End */

/* Sertifikat */
.sertifikat {
  padding: 3rem 0;
}
.iso-sertifikat {
  width: 60px;
  margin: 1rem auto 0;
}
/* Sertifikat End */

/* Ponuda */
.ponuda {
  padding: 3rem 0;
}
.ponuda-content p {
  padding: 2rem 0;
}
.ponuda-grid {
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.ponuda-grid a {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.25;
  color: white;
  text-shadow: 1px 1px 2px black;
  transition: all 0.3s ease-in-out;
}
.ponuda-grid a:hover {
  font-size: 1.78rem;
}
.ponuda-grid hr {
  background-color: var(--pink);
}
.ponuda-content > p:nth-child(4) {
  padding: 0 0 3rem;
}

.neurologija {
  width: 90%;
  margin: 0 auto;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: radial-gradient(
      circle,
      rgba(9, 105, 153, 0.1) 0%,
      rgba(9, 105, 153, 0.5) 50%,
      rgba(2, 0, 36, 0.75) 100%
    ),
    url("../img/neurologija2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  /* cursor: pointer; */
}
.kardiologija {
  width: 90%;
  margin: 0 auto;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: radial-gradient(
      circle,
      rgba(9, 105, 153, 0.1) 0%,
      rgba(9, 105, 153, 0.5) 50%,
      rgba(2, 0, 36, 0.75) 100%
    ),
    url("../img/kardiologija.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  /* cursor: pointer; */
}
.radiologija {
  width: 90%;
  margin: 0 auto;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: radial-gradient(
      circle,
      rgba(9, 105, 153, 0.1) 0%,
      rgba(9, 105, 153, 0.5) 50%,
      rgba(2, 0, 36, 0.75) 100%
    ),
    url("../img/radiologija.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  /* cursor: pointer; */
}
.potrosni {
  width: 90%;
  margin: 0 auto 3rem;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: radial-gradient(
      circle,
      rgba(9, 105, 153, 0.1) 0%,
      rgba(9, 105, 153, 0.5) 50%,
      rgba(2, 0, 36, 0.75) 100%
    ),
    url("../img/potrosni.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  /* cursor: pointer; */
  padding: 0 1rem;
}
/* Ponuda End */

/* Partneri */
.partneri {
  padding: 3rem 0;
  background-color: #efefef;
  text-align: center;
}
.partneri hr {
  margin: 0 auto 2rem;
}
.partneri-grid {
  padding: 7rem 1rem 2rem;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.partneri-grid-item {
  width: 100%;
}
.partneri-grid-item img {
  max-width: 100px;
  margin: 0 auto;
}
/* Partneri End */

/* Media Queries */
@media screen and (min-width: 400px) {
  .intro {
    height: calc(70vh - 95px);
  }
  .ponuda-grid {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media screen and (min-width: 440px) {
  .ponuda-grid {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media screen and (min-width: 540px) {
  .ponuda-grid {
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }
  .partneri-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 576px) {
  .footer-info {
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .ponuda-grid {
    max-width: 800px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 900px) {
  .partneri-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .intro {
    height: calc(60vh - 95px);
  }
}
